* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #555;
  background-color: #fafafa;
}

body, td, textarea, input {
  /* overflow-x: hidden; */
  font-family: Helvetica Neue, Open Sans, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: #505050;
}

.container {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.drafted-section {
 
}
.undrafted-section {
  
}

.player-card {
  /* height: 130px; */
  border: 1px solid #C4C4C4;
  padding: 0.5rem;
  margin: 0.5rem;
}

.players {
  text-align: center;
}

.players div {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}